$main-font-size: 16px;

$background-color-dark-theme-1: rgb(70, 66, 66);
$background-color-dark-theme-2: rgb(32, 31, 31);

$background-color-light-theme-1: rgb(235, 226, 226);
$background-color-light-theme-2: rgb(92, 90, 90);

$button-color: rgb(240, 71, 10);
$button-color-hover: rgb(224, 75, 21);

$breakpoint: "all and (min-width: 1025px)";