.container {
    width: 90vw;
    min-width: 200px;
    height: 400px;
    background-color: $background-color-dark-theme-2;
    border-radius: 10px;
    position: relative;
    @extend %transition;
}

@media #{$breakpoint} {
    .container {
        max-width: 1025px;
    }
}