.slider-light-theme {
    left: 1.6rem;
    background-color: $background-color-light-theme-2;
}

.switch-light-theme {
    background-color: $background-color-light-theme-1;
}

.container-light-theme {
    background-color: $background-color-light-theme-2;
}

.body-light-theme {
    background-color: $background-color-light-theme-1;
}